<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Assurance ARO</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

	<!-- Styles -->
	{% include 'partials/styles.html.twig' %}
</head>
<body>
	<div class="wrapper">
		<!-- Navbar Header -->
		{% include 'partials/navbar_header.html.twig' %}

		<!-- Sidebar -->
		{% include 'partials/sidebar.html.twig' %}

		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Formulaire client</h4>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								{{ form_start(form) }}
									<div class="card-header">
										<div class="card-title">Client</div>
									</div>
									<div class="card-body">
										
										<div class="form-group">
											{{ form_label(form.numCompte) }}
											{{ form_widget(form.numCompte, {'attr': {'class': 'form-control', 'placeholder': 'Num de compte'}}) }}
										</div>
										<div class="form-group">
											{{ form_label(form.nomPrenom) }}
											{{ form_widget(form.nomPrenom, {'attr': {'class': 'form-control', 'placeholder': 'Nom et prénoms'}}) }}
										</div>
										<div class="form-group">
											{{ form_label(form.adresse) }}
											{{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
										</div>
										<div class="form-group">
											{{ form_label(form.telephone) }}
											{{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Numéro téléphone'}}) }}
										</div>
										
									</div>
									<div class="card-action">
										<button type="submit" class="btn btn-success">Enregistrer</button>
										<a href="{{ path('app_client') }}" class="btn btn-danger">Annuler</a>
									</div>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	
	{% include 'partials/javascript.html.twig' %}  
</body>
</html>